[Desktop Entry]
Type=Application
Name=Roller
Comment=Reverse engineering the 1995 game Whiplash/Fatal Racing
Exec=roller
Icon=roller
Terminal=false
StartupWMClass=roller
Categories=Game;Racing;Simulator
